@charset "utf-8";
/* base文件 */
	*{font-family:'Microsoft Yahei'; margin:0; padding:0; font-size:12px; color:#666;}
	h1,h2,h3,h4,h5,h6{font-weight:normal;}
	a{text-decoration:none; color:#000;}
	i,em{font-style:normal;}
	b,strong{font-weight:normal;}
	ul,ol,dl,dd,dt{margin:0; padding:0;}
	li{list-style:none; }
	.fl{float:left;}
	.fr{float:right;}
	.clearfix:after{display:block; content:''; clear:both;}
	.clearfix{zoom:1;}
	th,td{border:1px solid #fff; padding:0;}
	table{border-collapse:collapse;}
	img,li{vertical-align:top;}
	a img{border:0;}
