<!--box-3 end-->
<div class="banner-bottom"><a href="###"></a></div>
<div class="link-wrap" >
    <div class="link clearfix" style="margin-right: 0px">
        <dl>
            <dt><a href="###">关于我们</a></dt>
            <dd><a href="###">&diams;关于振申</a></dd>
            <dd><a href="###">&diams;新闻中心</a></dd>
            <dd><a href="###">&diams;人才招聘</a></dd>
        </dl>
        <dl>
            <dt><a href="###">推荐产品</a></dt>
            <dd><a href="###">&diams;畜牧类</a></dd>
            <dd><a href="###">&diams;秸秆类</a></dd>
        </dl>
        <dl class="consider">
            <dt><a href="###">关注我们</a></dt>
            <dd><a href="###" class="clearfix"><span class="icon1 fl"></span>集团历程</a></dd>
            <dd><a href="###" class="clearfix"><span class="icon2 fl"></span>未来发展</a></dd>
            <dd><a href="###" class="clearfix"><span class="icon3 fl"></span>五年规划</a></dd>
        </dl>
        <dl class="contact">
            <dt><a href="###">联系我们</a></dt>
            <dd>
                <a href="###" class="contact1 clearfix">
                    <span class="fl"></span>
                    <div class="fl contact-r">
                        <i>156-7009-8568</i><br />
                        <b>7*24小时客服电话</b>
                    </div>
                </a>
            </dd>
            <dd>
                <a href="###" class="contact2 clearfix">
                    <em class="fl"></em>
                    <div class="fl contact-r">
                        <i>在线客服</i><br />
                        <b>服务时段：8:30--22:00</b>
                    </div>
                </a>
            </dd>
        </dl>
    </div>
</div>

<div class="footer-wrap">
    <div class="footer clearfix">
        <span class="fl"></span>
        <p class="fl">@ 2005-2025河南省振申集团 版权所有（豫ICP备 19130223号）</p>
        <ul class="fr clearfix">
            <li><a href="###">版权说明</a></li>
            <li><a href="###">使用协议</a></li>
            <li><a href="###">网站地图</a></li>
            <li><a href="###">友情链接</a></li>
            <li><a href="###">联系我们</a></li>
        </ul>
    </div>
</div>

