<div class="login-wrap">
    <div class="login clearfix">
        <div class="login-l fl clearfix">
            <span></span>
            <i></i>
            <b>156-7009-8568</b>
        </div>
        <ul class="login-r fr clearfix">
            <li class="one"><a href="###">登录</a></li>
            <li class="two"><a href="###">注册</a></li>
            <li><a href="###">积分兑换</a></li>
            <li><a href="###">帮助中心</a></li>
            <li class="five clearfix"><span></span><a href="http://92cnb.com" class="fl">友联</a></li>
        </ul>
    </div>
</div>
<!--login-wrap end-->
<div class="topnav-wrap clearfix" style="margin-right: 0px">
    <h2 class="fl">oppa<span></span></h2>
    <ul class="fr clearfix">
        <li><a href="###">首页</a></li>
        <li><a href="###">关于</a></li>
        <li><a href="###">新闻</a></li>
        <li><a href="###">发展</a></li>
        <li class="wid1"><a href="###">留言板</a></li>
        <li class="wid2"><a href="http://zhangruibin.com">技术支持</a></li>
    </ul>
</div>