<!doctype html>
<html>
<head>
<meta charset="utf-8"></meta>
<title>河南振申集团</title>
<!--<link rel="icon" href="/img/icon/favo.ico" type="image/x-icon" />
<link rel="shortcut icon" href="/img/icon/favo.ico" type="image/x-icon" />-->
<link href="css/base.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<script src="js/jquery-1.7.2.js"></script>
<script>
$(function(){
	var aIcon=$('#icon div');
	var aBanner=$('#banner a');
	aIcon.mouseover(function(){
		aIcon.removeClass('active');
		$(this).addClass('active');
		aBanner.removeClass('show');
		$('#banner a').eq($(this).index()).addClass('show');
		});

	var aBtn=$('#btn a');
	var aCon=$('#con ul');
	aBtn.mouseover(function(){
		aBtn.removeClass('active');
		$(this).addClass('active');
		aCon.removeClass('show');
		$('#con ul').eq($(this).index()).addClass('show');
		});
	});
</script>

</head>

<body>
    <!--headerpage-->
    <div class="headerpage"></div>
   <!--topnav end-->
   <div class="banner-wrap">
    	<div class="banner" id="banner">
            <!--首页轮播图-->
            <a href="###" class="banner-bg1 show" ><img src="img/carousel/20150202100021_PPLCdk.jpg" /></a>
            <a href="###" class="banner-bg2"><img src="img/carousel/IMG_20170508_192504.jpg" /></a>
            <a href="###" class="banner-bg3"><img src="img/carousel/2.jpg"/></a>
            <a href="###" class="banner-bg4"><img src="img/carousel/3.jpg"/></a>
        	<a href="###"><img src="img/carousel/20150202100021_TgEOkp.png" class="banner-con"/></a>
         </div>
         <div class="icon clearfix" id="icon" style="color: #0A4798">
            <div class="icon1 active fl"><a href="###"></a></div>
            <div class="icon2 fl"><a href="###"></a></div>
            <div class="icon3 fl"><a href="###"></a></div>
            <div class="icon4 fl"><a href="###"></a></div>
        </div>
        <div class="opa1"></div>
        <div class="opa2"></div>
        <div class="bor"></div>
    </div>
    <!--banner-wrap end-->
    <div class="box-1">
    	<div class="tit1"></div>
        <ul class="clearfix">
        	<li class="first">
            	<div class="product">
                		<div class="box1-pic">
                            <a href="###"><img src="img/8_03.jpg" /></a>
                            <a href="###"><img src="img/pic-s.png" /></a>
                        </div>
                        <h6>N3</h6>
                        <P>1600万电动旋转摄像头</P>
                        <div class="price clearfix">
                            <i class="fl">¥ 3999&nbsp;&nbsp;立即购买</i>
                            <span class="fr"></span>
                        </div>
                </div>
            </li>
            <li>
            	<div class="product">
                		<div class="box1-pic">
                            <a href="###"><img src="img/8_05.jpg" /></a>
                            <a href="###"><img src="img/pic-s.png" /></a>
                        </div>
                        <h6>R5</h6>
                        <P>薄至4.85mm</P>
                        <div class="price clearfix">
                            <i class="fl">¥ 2999&nbsp;&nbsp;立即购买</i>
                            <span class="fr"></span>
                        </div>
                </div>
            </li>
            <li>
            	<div class="product">
                		<div class="box1-pic">
                            <a href="###"><img src="img/8_07.jpg" /></a>
                            <a href="###"><img src="img/pic-s.png" /></a>
                        </div>
                        <h6>Find7</h6>
                        <P>4G全能旗舰</P>
                        <div class="price clearfix">
                            <i class="fl">¥ 2999&nbsp;&nbsp;立即购买</i>
                            <span class="fr"></span>
                        </div>
                </div>
            </li>
            <li class="last">
            	<div class="product">
                		<div class="box1-pic">
                            <a href="###"><img src="img/8_09.jpg" /></a>
                            <a href="###"><img src="img/pic-s.png" /></a>
                        </div>
                        <h6>R1C</h6>
                        <P>钻石流光镜面</P>
                        <div class="price clearfix">
                            <i class="fl">¥ 2499&nbsp;&nbsp;立即购买</i>
                            <span class="fr"></span>
                        </div>
                </div>
            </li>
        </ul>
    </div>
    <!--box1 end-->
    <div class="box-2">
    	<div class="tit2"></div>
        <ul class="clearfix">
        	<li class="box2-l fl clearfix">
            	<a href="###" class="first fl"><img src="img/9_03.jpg" /></a>
                <div class="fl">
                    <a href="###"><img src="img/9_05.jpg"  class="second" /></a>
                    <a href="###"><img src="img/9_11.jpg" /></a>
                </div>
                <a href="###" class="fl"><img src="img/9_18.jpg" /></a>
            </li>
            <li class="box2-r fl">
            	<a href="###" class="fl"><img src="img/9_07.jpg" /></a>
                <a href="###" class="fl"><img src="img/9_12.jpg"  class="third" /></a>
                <div class="fl">
                    <a href="###"><img src="img/9_14.jpg" class="fouth" /></a>
                    <a href="###" class="fl"><img src="img/9_19.jpg" /></a>
                </div>
            </li>
        </ul>
    </div>
    <!--box-2 end-->
    <div class="box-3">
    	<div class="tit3"></div>
        <ul class="clearfix">
        	<li>
            	<a href="###"><img src="img/10_23.jpg" class="first" /></a>
                <a href="###"><img src="img/10_34.jpg" /></a>
            </li>
            <li class="center">
            	<a href="###"><img src="img/10_25.jpg" class="first" /></a>
                <a href="###"><img src="img/10_30.jpg" /></a>
            </li>
            <li>
            	<div class="btn clearfix" id="btn">
                	<a href="###" class="active">新闻</a>
                    <a href="###">微博</a>
                </div>
                <div class="con" id="con">
                        <ul class="con1 show">
                            <li class="clearfix">
                            	<a href="###" class="pic fl"><img src="img/10_28.jpg" /></a>
                            	<a href="###" class="detail fl">业界革命，OPPO发布全球最高灵敏度平面振膜耳机PM-1</a>
                            </li>
                            <li class="clearfix">
                            	<a href="###" class="pic fl"><img src="img/10_31.jpg" /></a>
                            	<a href="###" class="detail fl">极致原音 OPPO PM-1耳机斩获EISA年度HIFI大奖</a>
                            </li>
                            <li class="clearfix">
                            	<a href="###" class="pic fl"><img src="img/10_37.jpg" /></a>
                            	<a href="###" class="detail fl">OPPO或在巴塞罗那MWC通讯展发布ColorOS 2.0</a>
                            </li>
                            <li class="clearfix">
                            	<a href="###" class="pic fl"><img src="img/10_39.jpg" /></a>
                            	<a href="###" class="detail fl">OPPO N1入选英国《stuff》杂志年度TOP 10</a>
                            </li>
                        </ul>
                        <ul class="con2">
                            <li class="clearfix">
                            	<a href="###" class="pic fl"><img src="img/10_31.jpg" /></a>
                            	<a href="###" class="detail fl">业界革命，OPPO发布全球最高灵敏度平面振膜耳机PM-1</a>
                            </li>
                            <li class="clearfix">
                            	<a href="###" class="pic fl"><img src="img/10_37.jpg" /></a>
                            	<a href="###" class="detail fl">极致原音 OPPO PM-1耳机斩获EISA年度HIFI大奖</a>
                            </li>
                            <li class="clearfix">
                            	<a href="###" class="pic fl"><img src="img/10_28.jpg" /></a>
                            	<a href="###" class="detail fl">OPPO或在巴塞罗那MWC通讯展发布ColorOS 2.0</a>
                            </li>
                            <li class="clearfix">
                            	<a href="###" class="pic fl"><img src="img/10_39.jpg" /></a>
                            	<a href="###" class="detail fl">OPPO N1入选英国《stuff》杂志年度TOP 10</a>
                            </li>
                        </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="footer-wrap">
        <!--footer-->
        <div class="footerpage"></div>
    </div>
    <script>
        $(function(){
            /*公共部分
             * 导航栏
             * footer CopyRight
             */
            $(".headerpage").load("view/main/header.html");
            $(".footerpage").load("view/main/footer.html");
        });
    </script>
</body>
</html>
